<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Error - Dumorando.com</title>
  <link rel="shortcut icon" href="https://github.com/dumorando.png" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
  <!-- <audio src="onlittlecatfeet.mp3" autoplay loop></audio> -->
   <!--
  
   -->
  <!-- 
   
  -->
  <main id="gfdgfdgfd">
    <div class="left"></div>
    <div class="middle">
      <main-other>
        <div class="container">
          <h1>error</h1>
          <p><%= error.status %></p>
        </div>
      </main-other>
    </div>
    <div class="right"></div>
  </main>
</body>

</html>